{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- hedar secation -->
<div id="particles-js">
    <section class="wow bounceIn h-100" data-wow-duration="1s" style="position: relative;">

        <div class="box-hedar ">
            <div class="image-hedar">
                <img src="{% static 'images/hedar.png' %}" width="100%">
            </div>
            <div class="text-hedar">
                <h2>منتجات عالية الجودة</h2>
                <p>نوفر لكم أجود معدات الري الزراعي ذات المقاييس والمواصفات العالمية، و نقوم بشحن البضائع إلى جميع البلدان العربية.</p>
                <a href="#" class="mt-3 btn us-products-button main-button">شاهد منتجاتنا</a>
            </div>




        </div>
    </section>
</div>
<!-- end hedar secation -->
<div class="container">
    <div class="us-service">
        <h3 class="text-center mt-5">خدماتنا</h3>
        <div class="row">


            <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    <p>خدمة الزبائن </p>

                    <img src="{% static 'images/svg/contact.svg' %}" alt="Kiwi standing on oval">

                </div>
            </div>
            <div class="col-lg-4 col-12 text-center ">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    <p>تقديم المساعدة والخبرة</p>
                    <img src="{% static 'images/svg/fatherhood.svg' %}" alt="fatherhood">

                </div>
            </div>
            <div class="col-lg-4 col-12 text-center ">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    <p>حسومات للمشاريع الإنمائية</p>
                    <img src="{% static 'images/svg/discount.svg' %}" alt="discount">

                </div>

            </div>

        
        </div>
    </div>
    <div class="us-products">
        <h3 id="our_products" class="text-center mt-5">منتجاتنا</h3>
        <div class="row">

            <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    

                    <p>إنبوب ري ١٦ ملم</p>

                    <img src="{% static 'images/anpop.png' %}" alt="Kiwi standing on oval">
                    <button class="btn btn-outline-info toggle-detail">عرض التفاصيل</button>
                    <div class="detali">
                        <p>انبوب ري عرض ١٦ ملم </p>
                        <hr>
                        <p>كثافة الثقوب</p>
                        <span>( ٢٠ سم - ٢٥ سم - ٣٣ سم - ٥٠ سم - ١ متر )</span>
                        <br>
                        <span class="text-danger"> أو حسب الطلب</span>
                        <hr>
                        <p>رمز المنتج</p>
                        <span>#٤٣٦٥ </span>
                        <span alt="إغلاق" class="close-btn close-detail">X</span>




                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    

                    <p>إنبوب ري ٢٠ ملم</p>

                    <img src="{% static 'images/anpop.png' %}" alt="Kiwi standing on oval">
                    <button class="btn btn-outline-info toggle-detail">عرض التفاصيل</button>
                    <div class="detali">
                        <p>انبوب ري عرض ٢٠ ملم </p>
                        <hr>
                        <p>كثافة الثقوب</p>
                        <span>( ٢٠ سم - ٢٥ سم - ٣٣ سم - ٥٠ سم - ١ متر )</span>
                        <br>
                        <span class="text-danger"> أو حسب الطلب</span>
                        <hr>
                        <p>رمز المنتج</p>
                        <span>#٤٥٣٧ </span>
                        <span alt="إغلاق" class="close-btn close-detail">X</span>




                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    

                    <p>صمّامات صغيرة </p>

                    <img src="{% static 'images/samam-sm.png' %}" alt="صمّام عادي">
                    <button class="btn btn-outline-info toggle-detail">عرض التفاصيل</button>
                    <div class="detali">
                        <p>صمّامات صغيرة متعددة الاستخدام </p>
                        <hr>
                        <p>الأبعاد</p>
                        <span>٥٠x٥٠ </span>
                        <hr>
                        <p>رمز المنتج</p>
                        <span>#٥٤٦٧ </span>
                        <span alt="إغلاق" class="close-btn close-detail">X</span>




                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    

                    <p>صمّام ثلاثي </p>

                    <img src="{% static 'images/samam-3d.png' %}" alt="Kiwi standing on oval">
                    <button class="btn btn-outline-info toggle-detail">عرض التفاصيل</button>
                    <div class="detali">
                        <p>صمّام ثلاثي متعدد الاستخدام </p>
                        <hr>
                        <p>الأبعاد</p>
                        <span>٥٠x٥٠ </span>
                        <hr>
                        <p>رمز المنتج</p>
                        <span>#٥٤٦٧ </span>
                        <span alt="إغلاق" class="close-btn close-detail">X</span>




                    </div>


                </div>
            </div>
                        <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    

                    <p>كوع سكب </p>

                    <img src="{% static 'images/ko3.png' %}" alt="كوع سكب">
                    <button class="btn btn-outline-info toggle-detail">عرض التفاصيل</button>
                    <div class="detali">
                        <p>كوع سكب متعدد الاستخدام </p>
                        <hr>
                        <p>الأبعاد</p>
                        <span>٥٠x٥٠ </span>
                        <hr>
                        <p>رمز المنتج</p>
                        <span>#٥٤٦٧ </span>
                        <span alt="إغلاق" class="close-btn close-detail">X</span>




                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <div class="box  wow bounceIn" data-wow-offset="50">
                    

                    <p>كوع ثلاثي </p>

                    <img src="{% static 'images/ko3-2.png' %}" alt="كوع ثلاثي ">
                    <button class="btn btn-outline-info toggle-detail">عرض التفاصيل</button>
                    <div class="detali">
                        <p>كوع ثلاثي  متعدد الاستخدام شرار </p>
                        <hr>
                        <p>الأبعاد</p>
                        <span>٥٠x٥٠ </span>
                        <hr>
                        <p>رمز المنتج</p>
                        <span>#٥٤٦٧ </span>
                        <span alt="إغلاق" class="close-btn close-detail">X</span>




                    </div>


                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock  %}

{% block script %}
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock  %}
